$primary-colour: #480000;
$secondary-color: #f2f2f2;
$third-color: #020202;
$background-color: #84a4b4;


* {
  font-family: 'Poppins' 'Times New Roman', Times, serif;
}

header {
  background-color: $secondary-color;
  color: $third-color;
}


.logo a {
  color: $primary-colour;
  font-size: 1.5rem;
  font-weight: bold;
}

.active {
  text-decoration: underline 2px $third-color;
  font-weight: bold;
  color: $third-color;
}


section {
  background-color: $background-color;
}

h5 {
  font-weight: bold;
}

@import "../../node_modules/bootstrap/scss/bootstrap";